{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'book/css/book.css' %}">
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-8">
            <div id="book">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{ book.cover.url }}">
                    </div>
                    <div class="col-md-8">
                        <div id="book_title">
                            <h3>{{ book.name }}</h3> <h5>{{ book.author }} 著</h5>
                        </div>
                        <div id="tags">
                            <ul>
                                {% for tag in book.tags.all %}
                                     <li class="tag">{{ tag.title }}</li>
                                {% endfor %}
                                <li class="cate">{{ book.category.parent.title }}</li>
                                <li class="cate">{{ book.category.title }}</li>
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                        <div>{{ book.content|safe }}</div>
                        <div>
                            <a class="btn btn-danger">免费阅读</a>
                            <a class="btn btn-success">好书收藏</a>
                            <a class="btn btn-default">立即分享</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div id="week_rank">
                <h4>周点击排行</h4>
                <ul>
                    {% for rank_book in rank_books %}
                        <li><span class="no{% if forloop.counter <= 3 %}{{ forloop.counter }}{% endif %}">{{ forloop.counter }}</span><span class="title">{{ rank_book.name }}</span></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}