{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <div>
        <h4 class="text-center">用户注册</h4>
        <form action="/user/regist/"
              method="post"
              class="form form-horizontal">
            {% csrf_token %}

            <div class="form-group">
                <label class="col-md-3 col-md-push-2">账号:</label>
                <div class="col-md-6">
                    <input name='username' class="form-control" value="{{ form.username.value }}">
                </div>
                <div class="col-md-3">
                    <span class="{% if errors.username %}error-msg{% endif %}">* {{ errors.username.0.message }}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 col-md-push-2">口令:</label>
                <div class="col-md-6">
                    <input type="password" name="password" class="form-control">
                </div>
                <div class="col-md-3">
                     <span class="{% if errors.password %}error-msg{% endif %}">* {{ errors.password.0.message }}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 col-md-push-2">重复口令:</label>
                <div class="col-md-6">
                    <input type="password" name="password2" class="form-control">
                </div>
                <div class="col-md-3">
                     <span class="{% if errors.password2 %}error-msg{% endif %}">* {{ errors.password2.0.message }}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 col-md-push-2">别名</label>
                <div class="col-md-6">
                    <input name="nick_name" class="form-control" value="{{ form.nick_name.value }}">
                </div>
                <div class="col-md-3">
                     <span class="{% if errors.nick_name %}error-msg{% endif %}">* {{ errors.nick_name.0.message }}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 col-md-push-2">手机号</label>
                <div class="col-md-6">
                    <input name="phone" class="form-control" value="{{ form.phone.value }}">
                </div>
                <div class="col-md-3">
                     <span class="{% if errors.phone %}error-msg{% endif %}">* {{ errors.phone.0.message }}</span>
                </div>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-success">注册</button>
                <a class="btn btn-link">已注册用户，去登录</a>
            </div>

        </form>
    </div>

{% endblock %}